.main {
  &__container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    $width: 1200px;
    $paddings: 256px;
    max-width: $width;
    width: $width - $paddings;
  }
}
